@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: bisque;
    background-size: cover;
    background-image: url("../img/background.jpg")
}
.main-container {
    background-color: lightblue;
    width: 1100px;
    margin: 100px auto;
}
.main-header {
    background-image: url("../img/podcast_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    color: rgba(243, 241, 235, 0.836);
    text-shadow: 4px 4px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px 40px;
}
.main-header h1, .main-header h2 {
    margin: 0px;
}
.main-header h1 {
    text-transform: uppercase;
    font-size: 45px;
}
.main-header h2 {
    font-weight: normal;
}
.main-nav {
    background-color: rgb(194, 183, 183);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.nav-item {
    text-decoration: none;
    color: maroon;
}
.line {
    border-left: 1px solid maroon;
    padding-left: 10px;
}
.social-icon {
    font-size: 25px;
    font-style: normal;
    margin-right: 20px;
}
.social-icon:hover {
    color: rebeccapurple;
}
.main-section {
    display: flex;
}
.section-1 {
    background-color: rgb(171, 206, 171);
    padding: 20px 40px 40px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}
.section-2 {
    background-color: white;
    text-align: center;
    flex: 1.1;
    padding: 20px 40px 40px;
}
.section-2 h2 {
    text-align: left;
}
.guest-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guest h3 {
    margin: 0;
    font-size: 25px;
}
.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}
.date {
    font-weight: bold;
    margin: 50px auto 10px auto;
    color: #555;
}
.info-btn {
    background-color: dimgrey;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
}
.info-btn:hover {
    color: lightblue;
}
.main-footer {
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 1px 40px;
    text-align: right;
    font-size: 18px;
}
